/* Styles pour la mise en page de base */
/* ... (styles précédents restent les mêmes) */
/*3 POINT*/
.dots {
  cursor: pointer;
  font-size: 40px;
  transform: rotate(90deg);
  position: fixed;
  top: 0.5;
  right: 0;
}
.links-popup {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  position: absolute;
  background: #fff;
  z-index: 1;
  right: 40px;
  text-align: right;
  border-radius: 10px;
  border-color: hsl(206, 45%, 44%);
  text-align: center;
}
.links-popup a {
  color: cadetblue;
}
footer {
  background-color: hsl(206, 45%, 44%);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
  right: 1px;
}
footer p {
  margin: 0;
}
.h1 {
  position: absolute;
  top: 90px;
  left: 8.5%;
  transform: translateX(-50%);
  color: hsl(206, 63%, 51%);
}

body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: baseline;
}
header {
  background: linear-gradient(to right, #2691d9, #2691d9);
  background: hsl(206, 45%, 44%);
  color: #fff;
  position: relative;
  text-align: center;
  padding: 1px 0;
  justify-content: space-between;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  height: 15%;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: black;
}
ul {
  list-style-type: none;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  display: inline;
  margin-right: 50px;
  margin-top: 25px;
}

/* Search by input*/
.Search {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
input {
  grid-column: 1;
  grid-row: span 3;
}

.input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px none rgb(206, 193, 193);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.3s ease-in-out;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border: 2px solid hsl(206, 45%, 44%);
}

.card-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  border: 2px solid hsl(206, 45%, 44%);
  padding: 30px 30px;
  margin: 60px 15px;
  width: 1200px;
  border-radius: 5px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.button {
  position: relative;
  display: inline-block;
}
.dropbtn,
.title,
.InputContainer {
  padding: 10px;
}
.InputContainer {
  grid-column: 1 / span 2;
}
.title {
  grid-column: 1 / span 3;
}

.dropbtn {
  width: 50%;
  padding: 10px 18px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid hsl(206, 45%, 44%);
  border-radius: 15px;
  font-size: 16px;
  background-color: #f8f8f8;
  cursor: pointer;
  line-height: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f8f8f8;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px hsl(206, 45%, 44%);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 20px 24px;
  text-decoration: none;
  display: block;
}

.dropdown-content:hover {
  background-color: hsl(206, 45%, 44%);
  color: hsl(206, 45%, 44%);
}

.dropbtn:focus {
  outline: none;
  border: 2px solid hsl(206, 45%, 44%);
}

.dropbtn:hover {
  border: 2px solid hsl(206, 45%, 44%);
}

.dropbtn:hover .dropdown-content {
  display: block;
}
/*summary*/
.bigFrame {
  border: 2px solid black;
  padding-bottom: 20px;
}

.courses a {
  margin-left: 10px;
  font-size: 16px;
}
#cardImage {
  width: 100%;
  display: block;
}
.image {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
#frame {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.imagel {
  flex: 1;
}
.lesson a {
  text-align: center;
}
